.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #222;
    color: #fff;
    padding: 20px 60px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    
        .copyright {
            font-size: 14px;
        }

        img {
            width: 98px;
        }
    }
}